.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  .card:hover .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .card {
    width: 18rem;
    height: 32rem;
    transition: all 0.3s ease; 
  }
  
  .card-img-top {
    max-height: 200px; 
  }
  

    @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }


  .search-news{
    margin-top: 8px;
  }
.logo-image {
  background-position: center;
  height: 100px;
}
